.bg-body-secondary{
    
    background-color: #102324 !important;
}

.sidebar-brand{
    background-color: rgb(54, 51, 51) !important;
}

.sidebar-brand .brand-text{
    font-family: "Momo Trust Display", sans-serif;
    color:rgb(210, 203, 203);
    font-size: 20px;
}

.nav-header{
    color: rgb(207, 207, 207) !important;
     font-family: "Momo Trust Sans", sans-serif;
}

.nav-link{
    color: rgb(216, 210, 210) !important;
}
.card-header {
    position: relative;
    padding: 1rem 1rem;
    background-color: #102324 !important;
    border-bottom: 1px solid var(--bs-border-color-translucent);
}
.card-title{
    color: rgb(245, 240, 240) !important;
     font-family: "Momo Trust Sans", sans-serif;
}
.fixed-header .app-header {
    background-color: rgb(54, 51, 51) !important;
}
.btn-primary {
    background-color: rgb(69, 10, 121) !important;
}
.btn-success {
    background-color: rgb(14, 146, 166) !important;
}
.btn-warning {
    background-color: rgb(10, 74, 4) !important;
}
.btn-warning {
    color: rgb(245, 240, 240) !important;
}
.card-footer {
    background-color: #102324 !important; 
}

